# created by virtualenv automatically
__pycache__
/bin*
/include*
/lib*
/lib64*
pyvenv*
/share*
teste.db
sca_db
image.jpg
Pendencias*
/GoServerTest
/img_db
/server-client_v2/__pycache__*
server_client_v2/grpc_image2_pb2_grpc.zip
server_client_v2/grpc_image2_pb2_grpc.py
server_client_v2/grpc_image2_pb2.py
teste.py
rodada_1
marlon
train
/old_files/*
doc_gerarlog.txt
