# created by virtualenv automatically
/lib*
/bin*
/include*
pyvenv*
/server-client_v2/__pycache__*
teste*
server-client_v2/grpc_image2_pb2_grpc.zip
server-client_v2/grpc_image2_pb2_grpc.py
server-client_v2/grpc_image2_pb2.py
