<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="container text-center">
      <div class="text-center fw-bold">Sistema de Chamada Automática</div>
      <div class="text-center fst-italic">Desenvolvido por Marlon Duarte</div>
    </div>
    <div class="mt-5"></div>
    <div class="container text-center">
      <div class="row">
        <!-- COLUNA 1 - BOTAO DISCIPLINA -->
        <div class="col">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Disciplina
            </button>
            <ul class="dropdown-menu">
              {% for disciplina in disciplinas %}
              <li><a class="dropdown-item" href="{{ disciplina[0] }}">{{ disciplina[1] }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- COLUNA 2 - BOTAO AULA -->
        <div class="col">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Aula
            </button>
            <ul class="dropdown-menu">
              {% for aula in aulas %}
              <li><a class="dropdown-item" href="{{ cod_disciplina_select }}/{{ aula[0] }}">{{ aula[0] }} - {{ aula[2] }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- COLUNA 3 - Limpar -->
        <div class="col">
          <div class="dropdown">
            <button type="button" class="btn btn-outline-danger">
              <a class="link-opacity-100 link-danger" href="/home">Limpar</a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--
      Nesta Div abaixo deverá ficar o código do login
    -->
    <div class="container">
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Matrícula</th>
              <th scope="col">Nome do Aluno</th>
              <th scope="col">Turma</th>
            </tr>
          </thead>
          <tbody>
          {% for user in tabela %}
            <tr>
              <td>{{ user[0] }}</td>
              <td>{{ user[1] }}</td>
              <td>{{ user[2] }}</td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
      <div class="mt-5"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>